node_modules/
dist/
dist-ssr/
*.log

# Environment Files
.env
.env.*
.env.local
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example

# Uploads
uploads/

# Test & Scratch Scripts hidden
*.mjs
!backend/tests/*.mjs
!backend/scripts/*.mjs
scratch/
backend/scratch/